@import '../../styles/variables';

.color-palette {
  display: flex;
  flex-direction: column;
  width: 28.1rem;
  height: auto;

  &__wrap {
    display: flex;
    margin-bottom: 2rem;
  }

  &__rectangle {
    width: 7rem;
    height: 7rem;
    margin-right: 4rem;
    border-radius: 0.6rem;

    &--100 {
      background: $dark-shade100;
    }

    &--75 {
      background: $dark-shade75;
    }

    &--50 {
      background: $dark-shade50;
    }

    &--25 {
      background: $dark-shade25;
    }

    &--5 {
      background: $dark-shade5;
    }

    &--purple {
      background: $purple;
    }

    &--green {
      background: $green;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  &__title {
    font-family: Conv_Montserrat-Regular, sans-serif;
    font-size: 1.9rem;
    line-height: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
  }

  &__text {
    font-family: Conv_Quicksand-Regular, sans-serif;
    font-size: 1.9rem;
    line-height: 2.85rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
  }
}
