@import 'reset';
@import 'variables';
@import 'fonts';
@import 'mixin';

html{
  font-family: Conv_Montserrat-Regular, sans-serif;
  font-size: 10px;
  font-weight: 700;
  box-sizing: border-box;
}

body{
  max-width: 192rem;
  min-width: 32rem;
  margin: 0 auto;
}

.logo{
  &--inactive{
    width: 4.8rem;
    height: 4.8rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 6.7rem;
  }
  &--active{
    width: 10.6rem;
    height: 4rem;
  }
}

.main{
  display: flex;
  flex-direction: column;
  &__title,
  &__subtitle{
    padding: 2rem;
  }
  &__link {
    height: 2rem;
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: $dark-shade100;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $purple;
    }
  }
}

