@import 'reset';
@import'variables';
@import 'fonts';
@import 'mixin';

html{
  font-family: Conv_Montserrat-Regular, sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.color-palette {
  display: flex;
  flex-direction: column;
  width: 28.1rem;
  height: auto;
  outline: $border;

  &__wrap {
    display: flex;

  }
  &__rectangle {
    width: 7rem;
    height: 7rem;
    margin-right: 4rem;
    background: $dark-shade100;
    border-radius: 0.6rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;

  }
  &__title {
    font-family: Conv_Montserrat-Regular, sans-serif;
    font-size: 1.9rem;
    line-height: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.04rem;

  }
  &__text {
    font-family: Conv_Quicksand-Regular, sans-serif;
    font-size: 1.9rem;
    line-height: 2.85rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
  }
}
