body{
  width: 144rem;
  height: 90rem;
  margin: 0 auto;
}

.color-type{

  &__wrap{
    display: flex;
    justify-content: space-between;
    padding: 0 14.8rem 14.5rem 15rem;
  }

  &__palette{
    width: 28.12rem;
  }
}
