include pug/libs/_libs

doctype html
html(lang='en')
	include pug/_head
	body
		p Dark Shade 25%

		.color-palette
			.color-palette__wrap
				.color-palette__rectangle
				.color-palette__wrapper
					.color-palette__title Dark Shade 100%
					.color-palette__text #1f2041
